
$black: black;
$white: white;
$gray: gray;
$gray-light: #ddd;
$orange: orange;
$violet: #753ad3;
$violet-light: #a254e2;

$app-header-background-color: #282c34;

$nav-link-base-color: #a56363;
$nav-link-hover-color :#830303;

$shopping-cart-list-item-background-color: #f7f7f7;

$view-toggle-normal-color: #dcdcdc;

$button-pink-color: #ff8f8f;

$list-item-shadow-color: #ffaa7d;
$list-item-background-color: #fffbf4;
