$margin_s: 4px;
$margin_m: 8px;
$margin_l: 12px;
$margin_xl: 16px;

$padding_s: 4px;
$padding_m: 8px;
$padding_l: 12px;
$padding_xl: 16px;
$padding_xxl: 48px;

$gap_s: 4px;
$gap_m: 8px;
$gap_l: 16px;
$gap_xl: 24px;
$gap_xxl: 36px;

$border-radius_s: 4px;
$border-radius_m: 8px;
$border-radius_l: 16px;

// App Layout:
$content-padding: 24px;
$content-padding-mobile: 12px;

$mobile-max-width: 425px;
