@import '../styles/helpers';

.app-header {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #282c34;
	color: white;

	&__content {
		width: var(--max-content-width);
		padding-left: var(--content-padding);
		padding-right: var(--content-padding);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo-container {
		display: flex;
	}
}

.navigation-list {
	list-style-type: none;
	display: flex;
	column-gap: 25px;

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;

		&_item-popover {
			@include on_mobile {
				width: 300px;
			}

			@include on_tablet {
				width: 410px;
			}

			@include on_desktop {
				width: 750px;
			}
		}
	}

	&__item-label {}

	&__item-link {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-grow: 1;
		text-decoration: none;
		color: white;
	}

	&__catalog-icon,
	&__shopping-cart-icon {
		flex-grow: 1;
		filter: invert(1);
	}

	&__shopping-cart-icon {
		padding-right: 5px;
	}
}