.book-add-form {
	display: flex;
	flex-direction: column;
    align-items: center;
    row-gap: $gap_m;
	padding: $padding_m $padding_l;

	&__block {
		display: flex;
		align-items: center;
		column-gap: $gap_m;
	}

	&__submit-button {
		width: 80%;
		height: 20px;
		background-color: $button-pink-color;
		border: none;
		box-shadow: 0px 0px 0.6rem 0px $button-pink-color, 0px 0px 0.25rem 0px $black;
		color: $white;
		font-weight: 700;

		transition: 0.3s transform ease;

		&:hover {
			cursor: pointer;
			transform: scale(1.1);
		}
	}
}