.book-list-row-item {
    display: grid;
    grid-template-columns: 100px 2fr 1fr 100px 200px;
	padding: $padding_l;
    column-gap: $gap_m;
	align-items: center;

	&__block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: $gap_m;

	}

	&__image {
		height: 120px;
		width: 100%;
		object-fit: cover;
	}

	&__title-link {
		color: inherit;
		text-decoration: none;
		font-weight: 700;
		@include line-clamp(2);

		&:hover {
			text-decoration: underline;
		}
	}

	&__subtitle {
		font-weight: 300;
		font-size: 0.75rem;
		@include line-clamp(2);
	}

	&__price {
		text-align: left;
	}

	&__authors,
	&__publisher {
		font-size: 0.9rem;
		@include line-clamp(2);
	}
}