.error {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: $gap_m;
    border-radius: 16px;
    border: 1px solid gray;
    padding: $padding_xl;

	&__image {
		width: 100px;
		filter: grayscale(1);
	}

	&__nav-link{
		@extend .link;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: $gap_m;
	}

	&__button {
		@extend .action-button;
	}
}