.modal {
	width: 100vw;
	height: 100vh;
	position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
	display: none;

	&_active {
		display: flex;
		justify-content: center;
		align-items: center;
		pointer-events: initial;
		background-color: rgba(0, 0, 0, 0.6);
	}

	&__content {
		max-width: 60vw;
		background-color: white;
		border-radius: 5px;
		padding: 16px;
	}
}