.quantity-buttons {
	display: flex;
    column-gap: $gap_m;

    &__quantity-button {
		background-color: $button-pink-color;
		border: none;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		box-shadow: 0 0 0.25rem 0.07rem $black;
		color: $white;
		font-weight: 700;

		transition: 0.3s transform linear;

		&:hover {
			cursor: pointer;
			transform: scale(1.2);
		}
    }

    &__quantity-input {
		width: 25px;
		text-align: center;

        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}