.search-header {
	display: flex;
	justify-content: space-between;
	column-gap: 50px;
	row-gap: 10px;
	flex-wrap: wrap-reverse;

	&__label-container {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 5px;
	}

	&__block {
		display: flex;
		justify-content: space-between;
		column-gap: 25px;
		flex-grow: 1;
	}

	&__select {
		height: 30px;
		border-radius: 15px;
    	padding-left: 10px;
		padding-right: 20px;
	}

	@media (max-width: 600px) {
		&__select,
		&__label-container {
			flex-grow: 1;
		}
	}
}

.view-toggle {
	display: flex;
	border: 1px solid $gray-light;

	&__row,
	&__grid {
		--current-color: #dcdcdc;

		display: inline-block;
		position: relative;
		padding: 4px;
		width: 30px;
		height: 30px;
		box-sizing: border-box;
		border: none;
		background-color: unset;
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			top: 6px;
			left: 6px;
			background-color: var(--current-color);
			transition: all 0.5s ease;

		}

		&:hover {
			--current-color: #8c8c8c;
		}

		&%_active {
			--current-color: #353535;

			background-color: #ebebeb;

			&::before {
				background-color: var(--current-color);
			}
		}
	}

	&__row {
		&.view-toggle__row_active {
			@extend %_active
		}

		&::before {
			height: 4px;
			width: 18px;
			box-shadow: 0 7px 0 var(--current-color), 0 14px 0 var(--current-color);
		}
	}

	&__grid {
		&.view-toggle__grid_active {
			@extend %_active
		}

		&::before {
			height: 8px;
			width: 8px;
			box-shadow: 0 10px 0 var(--current-color), 10px 10px 0 var(--current-color), 10px 0 0 var(--current-color);
		}
	}
}