.shopping-cart-payment {
	display: flex;
    justify-content: flex-end;
    column-gap: 35px;

	&__total-cost-container {
		display: flex;
    	align-items: center;
    	min-width: 160px;
		column-gap: 5px;
	}

	&__total-cost-title {
		font-weight: bold;
	}

	&__payment-button {
		height: 35px;
		padding: 5px 10px;
		border-radius: 5px;
		color: $white;
		background-color: $violet;
		border: 1px solid $violet-light;
		font-weight: bold;
		transition: 0.4s transform ease;

		&:hover {
			transform: scale(1.1);
			cursor: pointer;
		}
	}

	&__modal-container {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
	}

	&__modal-link {
		color: $nav-link-base-color;

		&:hover {
			color: $nav-link-hover-color;
		}
	}
}