.shopping-cart-list-item {
	display: flex;
    justify-content: space-between;
    border: 1px solid $black;
    padding: 0 10px;
    background-color: $shopping-cart-list-item-background-color;
    border-radius: 12px;
	column-gap: 10%;

	&__image {
		width: 75px;
		height: 75px;
	}

	&__block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 15px;
	}

	&__total-price {
		text-align: right;
		min-width: 75px;
	}
}